@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    background-image: url(../img/banner_supermario.jpg);
    background-position-y: -700px;
    background-position-x: -250px;
}
header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
h1{
    font-size: 70px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
nav{
    background-color: rgb(48, 47, 47);
    min-height: 6hv;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
nav a{
    width: 200px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(42, 41, 41);
    margin: 8px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    transition: all 0.5s;
    cursor: pointer;
}
a:hover{
    border: 1px solid white;
    background-color: #e70112;
    color: white;
    transform: scale(1.2) rotate(-10deg);
}
a:active{
    background-color: #e70112;
    color: white;
}

h2{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    font-family: 'Catamaran', sans-serif;
}
.galeria{
    width: 90vw;
    height: 700px;
    display: flex;
    justify-content: center;
}
.galeria img{
    width: 15%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.galeria img:hover{
    width: max-content;
}
footer{
    background-color: rgb(48, 47, 47);
    padding: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}
h3{
    font-family: 'Catamaran', sans-serif;
}